QDRANT_URL=https://5f76a8f4-bbac-4a92-92e2-9174b63fc76a.us-west-2-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=prb-documents-gemini
GOOGLE_API_KEY=
DEFAULT_LANGUAGE=id
MAX_TOKENS_PER_CHUNK=900
IMAGE_DPI=350